html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-name {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  line-height: 0rem;
  color: #b492e0;
}

.text__sub {
  margin-top: 10px;
}

.text__sub__p {
  margin-top: 0;
}

.btn__delete {
  background-color: #e52020;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
}

.btn__edit {
  background-color: #a3ba33;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.btn__delete:hover {
  background-color: #b52020;
}

.btn__edit:hover {
  background-color: #92a530;
}